<section class="hero is-light is-bold is-fullheight">
    <header class="hero-head">
        <nav class="navbar">
            <div class="container">
                <figure class="navbar-brand">
                    <div class="navbar-item">
                        <h1 class="is-size-4 has-text-weight-bold">{{cookiecutter.project_title}}</h1>
                    </div>
                </figure>{% raw %}
                <menu class="navbar-menu">
                    <div class="navbar-start">
                        <a href="arrive" class="navbar-item is-active">
                            {{#i18n 'welcome'}}Welcome{{/i18n}}
                        </a>
                        <a href="leave" class="navbar-item">
                            {{#i18n 'farewell'}}Farewell{{/i18n}}
                        </a>
                    </div>
                </menu>{% endraw %}
            </div>
        </nav>
    </header>
    <section class="hero-body">
        <hgroup class="container has-text-centered">
            <h1 class="title is-spaced">
                {% raw %}{{#i18n 'hello'}}Hello, {{name}}!{{/i18n}}{% endraw %}
            </h1>
            <h2 class="subtitle">
                {% raw %}{{#i18n 'slogan'}}{% endraw %}{{cookiecutter.description}}{% raw %}{{/i18n}}{% endraw %}
            </h2>
            <h2 class="subtitle">
                {% raw %}{{#i18n 'success'}}You did it.{{/i18n}}{% endraw %}
            </h2>
        </hgroup>
    </section>
</section>
