<figure>
    <figcaption><i>Powered by</i></figcaption>
    <a href="https://cdh.uu.nl/centre-for-digital-humanities/research-software-lab/">
        <img title="Centre for Digital Humanities, Utrecht University"
            alt="Centre for Digital Humanities, Utrecht University"
            src="{% raw %}{{static 'image/uu-cdh.svg'}}{% endraw %}"
            height="100">
    </a>
</figure>
