<footer class="footer is-hidden-print">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle" i18n>{{cookiecutter.project_title}}</h1>
                    <div class="content">
                        <p i18n>
                            <a href="{{cookiecutter.origin.replace('github:', 'https://github.com/')}}">Source code</a> (BSD 3-Clause License)
                        </p>
                        <p>
                            <em><ng-container i18n>Version: </ng-container><span [title]="environment.buildTime">{{"{{environment.version}}"}}</span>&nbsp;<a [href]="environment.sourceUrl" target="_blank" i18n>(source)</a></em>
                        </p>
                    </div>
                </div>
                <div class="column has-text-right-tablet">
                    <a class="lab-logo image" href="https://cdh.uu.nl/centre-for-digital-humanities/research-software-lab/" target="_blank">
                        <img src="{{"{{environment.assets}}"}}/uu-cdh.png" alt="Centre for Digital Humanities, Utrecht University" i18n-alt width="200" height="40" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
