<footer class="footer is-hidden-print">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle">{{cookiecutter.project_title}}</h1>
                    <div class="content">
                        <p>
                            <a href="{{cookiecutter.origin}}">Source code</a> (BSD 3-Clause License)
                        </p>
                    </div>
                </div>
                <div class="column has-text-right-tablet">
                    <a class="university-logo image" href="https://uu.nl" target="_blank">
                        <img src="assets/utrecht-university.svg" alt="Utrecht University logo" width="200"
                            height="50" />
                    </a>
                    <a class="lab-logo image" href="https://dig.hum.uu.nl" target="_blank">
                        <img src="assets/dhlab.svg" alt="Digital Humanities Lab logo" width="200" height="40" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
